{% extends 'base_dashboard.html' %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<div class="card">
    <form method="post" id="grade-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}<small class="error">{{ field.errors|join:', ' }}</small>{% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}
